.item {
    display: flex;
    align-items: center;
    width: 150px;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px black;
  }

  .item:not(:last-child) {
  margin-bottom: 20px;
}

  .isOnline {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5fcf7d;
    display: block;
    margin-left: 5px;
  }

.isOffline {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e04677;
    display: block;
    margin-left: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 15px;
  }
  
  .name {
    font-weight: 400;
  }